.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.form-fields {

    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
}

.submit {
display: flex;
margin: 10px;
padding: 10px; 
} 




.playerCard {
    display: flex;
        justify-content: center; 
        background-color: #272928; 
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    


    